<launch>
  <arg name="urdf_path" default="$(find kxr_humanoid_movebase_ichikura_version2)/urdf/jedy.urdf" />
  <arg name="servo_config_path" default="$(find kxr_humanoid_movebase_ichikura_version2)/config/jedy_servo_config.yaml" />
  <arg name="use_camera" default="false" />

  <!-- jedy_controllers.yaml を最初にロード -->
  <rosparam file="$(find jedy_play)/config/jedy_controllers.yaml" />

  <!-- default_controller を手動で設定（minimal.launch の影響を回避） -->
  <rosparam param="default_controller">
    - head_controller
    - rarm_controller
    - larm_controller
  </rosparam>


  <include file="$(find jedy_bringup)/launch/minimal.launch" >
    <arg name="urdf_path" value="$(arg urdf_path)" />
    <arg name="servo_config_path" value="$(arg servo_config_path)" />
  </include>

  <rosparam file="$(find jedy_play)/config/jedy_controllers.yaml" />

  <!-- <include file="$(find kxr_controller)/launch/joy.launch" /> -->
  <node pkg="rosserial_python" name="serial_node" type="serial_node.py">
	<param name="~port" value="/dev/ttyACM-m5"/>
	<param name="~baud" value="115200"/>
  </node>

<group if="$(arg use_camera)">
 <include file="$(find jedy_bringup)/launch/d405.launch">
 <arg name="color_width" value="640"/>
 <arg name="color_height" value="480"/>	
 <arg name="color_fps" value="30"/>		
 <arg name="enable_pointcloud" value="true"/>
</include>
</group>

<!-- apriltag認識ノード -->
 <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="apriltag_node" output="screen">
    <rosparam file="$(find jedy_play)/config/tag_descriptions.yaml" command="load" />
    <!-- <param name="image_transport" value="raw"/> -->
    <param name="camera_frame" value="camera_color_frame"/>
    <param name="tag_family" value="tag36h11"/>
    <param name="tag_size" value="0.03"/>
    <param name="publish_tag_detections_image" value="true"/>
    <param name="publish_tf" value="true"/>
    <remap from="image_rect" to="/camera/color/image_raw"/>
    <remap from="camera_info" to="/camera/color/camera_info"/>
  </node>

  <!-- static transform of table tags -->
  <include file="$(find jedy_play)/launch/table_tags.launch"/>

  <!-- 自己位置 + 落下防止ノード -->
  <node pkg="jedy_play" type="position_and_safety_monitor.py" name="position_and_safety_monitor" output="screen"/>


</launch>
