<launch>
  <arg name="urdf_path" default="$(find kxr_humanoid_movebase_ichikura_version2)/urdf/jedy.urdf" />
  <arg name="servo_config_path" default="$(find kxr_humanoid_movebase_ichikura_version2)/config/jedy_servo_config.yaml" />
  <arg name="use_camera" default="false" />
  <arg name="use_fullbody_controller" default="false"/>

  <!-- jedy_controllers.yaml を最初にロード -->
  <rosparam file="$(find jedy_play)/config/jedy_controllers.yaml" />

  <!-- default_controller を手動で設定（minimal.launch の影響を回避） -->
  <rosparam param="default_controller">
    - head_controller
    - rarm_controller
    - larm_controller
  </rosparam>


  <include file="$(find jedy_bringup)/launch/jedy_bringup.launch" >
    <arg name="urdf_path" value="$(arg urdf_path)" />
    <arg name="servo_config_path" value="$(arg servo_config_path)" />
    <arg name="use_fullbody_controller" value="$(arg use_fullbody_controller)" />
  </include>

  <rosparam file="$(find jedy_play)/config/jedy_controllers.yaml" />
<!--  <node name="arm_controllers_spawner" -->
<!--      pkg="controller_manager" type="spawner" -->
<!--      output="screen" -->
<!--      args="joint_state_controller head_controller larm_controller rarm_controller"/> -->

  <!-- <include file="$(find kxr_controller)/launch/joy.launch" /> -->
  <node pkg="rosserial_python" name="serial_node" type="serial_node.py">
	<param name="~port" value="/dev/ttyACM-m5"/>
	<param name="~baud" value="115200"/>
  </node>

<group if="$(arg use_camera)">
 <include file="$(find jedy_bringup)/launch/d405.launch">
 <arg name="color_width" value="640"/>
 <arg name="color_height" value="480"/>	
 <arg name="color_fps" value="30"/>		
 <arg name="enable_pointcloud" value="true"/>
</include>
</group>

<include file="$(find respeaker_ros)/launch/sample_respeaker.launch" />

  <!-- ReSpeakerで /tone_sequence を再生するノード -->
  <node pkg="jedy_play" type="tone_player_alsa.py" name="tone_player_alsa" output="screen">
    <!-- private params（rosrun の _alsa_device:=pulse と同等）-->
    <param name="~alsa_device" value="pulse"/>
    <!-- 必要なら 1→2 にするとL=Rのステレオで出せます -->
    <param name="~channels" value="1"/>
    <!-- 明示したい場合だけ（通常は不要）
    <remap from="tone_sequence" to="/tone_sequence"/>
    -->
  </node>


</launch>
